
/* reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    /* border: 1px solid grey; */
}

html {
    font-size: 62.5%;
    font-family: monospace;
}

header {
    display: flex;
    flex-flow: column nowrap;
    align-content:space-around;
    padding: 3% 0;
    background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-s49-jir-1860-chim-01.jpg?w=1200&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=8043b443cbc74528bc9b412ca3a7e3ef');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
    

}

h1 {
    font-size: 5.0rem;
    height: 6rem;
    margin-left: 8%;
}

header nav {
    height: 4rem;
    display: flex;
    margin-left: 5%;
    align-items: center;
    padding: 2% 0;
    
    
}

header nav a {
    width: 10%;
    text-align: center;
    height: 100%;
    font-size: 2.0rem;
    text-transform: lowercase;
    text-decoration-color: #7F867B; 
    text-transform: lowercase;
    color: #7F867B;
    font-weight: 600;
}

header nav a:hover {
    transform: scale(1.1);
    text-transform:uppercase;
    
}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}


.mid-container1 {
    display: flex;
    width: 90%;
    justify-content: space-around;
    padding: 2%;
    background-color: ivory;
}

.mid-container1 img {
    width: 55%;
    margin-left: -3%
}


.mid-container1 .mid-sub {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: 5px solid #7F867B;

}

.mid-sub h2 {
    font-size: 3.0rem;
    padding: 3%;
    
}

.mid-sub a {
    font-size: 2.0rem;
    color: #7F867B;
    text-transform: lowercase;
    text-transform: lowercase;
    text-decoration-color: #7F867B;
    padding: 3%;


}

.mid-sub a:hover {
    transform: scale(1.1);
    text-transform:uppercase;

}


.mid-sub p {
    font-size: 2.0rem;
    color: #7F867B;
    padding: 3%;
}

.mid-container2 {
    display: flex;
    width: 90%;
    justify-content: center;
    padding: 2%;
    background-color: ivory;
}

.project-container {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between; 
}

.project1,
.project2,
.project3,
.project4,
.project5,
.project6,
.project7,
.project8 { 
    width: 22%;
    padding: 1%;
    border: 5px solid #C7C7BB; 
}


.project1,
.project2,
.project3,
.project4 {
    margin-bottom: 5px;
}

.project5,
.project6,
.project7,
.project8 {
    margin-top: 5px;
}


.project-container p {
    font-size: 1.6rem;
    text-align: center;
    

    
}

.project-container p:hover {
    transform: scale(1.1);
    text-transform:uppercase;
    
}

.project-container p a {
    text-transform: lowercase;
    color: #7F867B;
    text-decoration-color: #7F867B; 
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-s49-jir-1860-chim-01.jpg?w=1200&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=8043b443cbc74528bc9b412ca3a7e3ef');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer h4 {
    text-align: center;
    padding: 2% 0 1%;
    font-size: 2.4rem
}

footer a {
    width: 15%;
    padding: 1% 3%;
    text-align: center;
    font-size: 2.0rem;
    margin-bottom: 2%;
    text-transform: lowercase;
    text-decoration-color: #7F867B; 
    color: #7F867B;
    font-weight: 600;
  
}

footer a:hover {
    transform: scale(1.1);
    text-transform:uppercase;
    
}
